<% users.each do |user| %>
    <div class="recommend-users-small-box">
        <%# 最初は＠usersだった。パーシャル内の変数はローカル変数へと書き換えることを忘れない。 %>
        <%# プロフィール画像の表示も追記する %>
        <%= link_to user_path(user.profile_name) do %>
        <p style="text-align: center; padding-top: 20px;"><%= attachment_image_tag user, :profile_image, :fill, 80, 80, class: "profile-image-style", format: 'jpeg', fallback: "no_image.jpg", size: '80x80' %></p>
        <% end %>

        <div style="text-align: center;">
            <%= link_to user_path(user.profile_name) do %>
            <span style="font-weight: bold; font-size: 16px;"><%= user.profile_name %></span>
            <% end %>
        </div>
        <%# いいねをindexにも表示する %>
        <%# <% if post_image.favorited_by?(current_user) %>
            <%# <%= link_to post_image_favorites_path(post_image.id), method:  :delete do %>
                <%# <i class="fas fa-heart" style="color: red;"></i> %>
                <%# <%= "#{post_image.favorites.count}いいね" %>
            <%# <% end %>
        <%# <% else %>
            <%# <%= link_to post_image_favorites_path(post_image.id), method:  :post do %>
                <%# <i class="fas fa-heart"></i> %>
                <%# <%= "#{post_image.favorites.count}いいね" %>
            <%# <% end %>
        <%# <% end %>

        <%# できれば各種SNSシェアボタンをここに実装予定 %>
        <div style="text-align: center; padding-top: 5px;"></div>
        <%= link_to user_path(user.profile_name) do %>
        <button>フォローする</button>
        <% end %>
        <%# <%= user.introduction %>
        <%# <%= form_for[post_image, post_comment] do |f| %>

            <%# <%= f.text_are :comment, placeholder: "コメントを書く" %>

            <%# <%= f.submit "送信" %>
        <%# <% end %>
    </div>
<% end %>

<div style="text-align: center;">
    <%= paginate @users, class: "paginate" %>
</div>